#footer{
	margin-top: 30px;
	padding: 10px;
	color:#fff;
	background: #D9230F;
}
#footer p{
	margin-bottom: 0px;
}
#navbarColor01 ul li a:hover{
	background-color: white !important;
	color: #D9230F;

}